
body{
    background-color: lightgray;
}

.navbar{
    background-color: gray;
}

.navbar-center{
    width: 100%;
    text-align: center;
}


.container{
    margin-top: 5px;
}

#status{
    display: block;
    text-align: center;
    font-size: large;
}

#mainRobot {
    border: 1px solid;
    border-radius: 5px;
    border-color: grey;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px grey;
}

#mainRobot h4{
    margin: auto;
    text-align: center;
    
}

.row .col-6{
    text-align: center;
}
#auxRobot{
    border: 1px solid;
    border-radius: 5px;
    border-color: grey;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px grey;
}

#auxRobot h4{
    margin: auto;
    text-align: center;

}

#mapRobot{
    margin-top: 10px;
    border: 1px solid;
    border-radius: 5px;
    border-color: grey;
    padding-bottom: 10px;
    padding-top: 5px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px grey;
    position: relative;
}

#mapRobot h4{
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
}

#mapRobot img{
    border-radius: 5px;
}

#canvasRobot{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: transparent;
    opacity: 100%;
    top: 0px;
    left: 50%;
    margin-left: -50%;
    
}